	</section>
	<footer id="latest">
		<section class="ctn">
			<section><a href="https://github.com/CMDA/sss-course">Serverside Scripting final assignment</a> van <a href="http://tedgodyla.nl/">Ted Godyla</a> en <a href="beemsterwebdesign.nl">Bart Beemster</a></section>
		</section>
	</footer>
  </body>
</html>