<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <div class="container">
    	<ul>
			<li><a href="/users">Gebruikers</a></li>
		  	<li><a href="/clubs">Clubs</a></li>
        <% if (userid) { %>
          <li><span><%= username %></span>
            <ul>
              <li><a href="/users/teams">Mijn teams</a></li>
              <li><a href="/users/logout">Uitloggen</a></li>
            </ul>
          </li>
        <% } else { %>
          <li><a href="/users/login">Inloggen</a></li>
          <li><a href="/users/signup">Registreren</a></li>
        <% }%>
		</ul>