<% include layouts/header %>

<h1>Eredivisie Dreamteams</h1>
<h2>Populaire opstellingen</h2>
<% if (populair.length > 0){  %>
	<a href="<%= baseUrl %>/teams">Bekijk alle opstellingen</a>
<% } else { %>
	<p>Er zijn nog geen teams aangemaakt</p>
<% } %>

<h2>Nieuwste opstellingen</h2>
<% if (nieuw.length > 0){  %>
	<a href="<%= baseUrl %>/teams">Bekijk alle opstellingen</a>
<% } else { %>
	<p>Er zijn nog geen teams aangemaakt</p>
<% } %>

<% include layouts/footer %>