<% include layouts/header %>

<h1>Hello world</h1>

<ul>
  <li>
  	<a href="<%= baseUrl %>/users">Gebruikers</a>
  </li>
  <li>
  	<a href="<%= baseUrl %>/clubs">Clubs</a>
  </li>
</ul>

<% include layouts/footer %>