<% include ../layouts/header %>

<h1>Clubs</h1>

<p>Een lijst met alle beschikbare clubs</p>

<section class="list clubs">
  <% clubs.forEach(function(value, index){ %>
    <article>
    	<a href="<%= baseUrl %>/<%= value.id %>">
    		<header><%= value.name %></header>
    		<section><%= value.description %></section>
    		<div class="clear"></div>
    	</a>
    </article>
   <% }); %>
</section>

<% include ../layouts/footer %>