<% include ../layouts/header %>

<h1>Clubs</h1>
<p>
	Hieronder de lijst met alle beschikbare clubs voor Dream Team.<br>
	Klik op een club om de beschikbare spelers voor deze club te bekijken
</p>

<section class="list clubs">
	<article>
		<header>Naam</header>
		<section>Plaats</section>
		<div class="clear"></div>
    </article>
	<% clubs.forEach(function(value, index){ %>
	    <article>
	    	<a href="<%= baseUrl %>/<%= value.id %>">
	    		<header><%= value.name %></header>
	    		<section><%= value.description %></section>
	    		<div class="clear"></div>
	    	</a>
	    </article>
	<% }); %>
</section>

<% include ../layouts/footer %>