<% include ../layouts/header %>

<h1>Hello world</h1>

<h2>Clubs in database</h2>

<ul>
  <% clubs.forEach(function(value, index){ %>
    <li>
      <a href="<%= baseUrl %>/<%= value.id %>"><%= value.name %></a></h2>
    </li>
   <% }); %>
</ul>

<pre>
<%= JSON.stringify(clubs, null, "  ") %>
</pre>

<% include ../layouts/footer %>