<h1><%= title %></h1>
<p>Hoi, <%= username %>. Hier kan je een bestand uploaden.</p>

<form action="upload" method="post" enctype="multipart/form-data">
    <input type="file" name="image" value="">
    <button>uploaden</button>
</form>